<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../partials/header.ejs') %>
            <main class="bg-gray-50">
                <div class="text-center py-4 px-4 mx-auto max-w-screen-xl">
                    <p class="mb-3">404 - Not found :(</p>

                    <a href="/" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        GO HOME :)
                    </a>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
    </body>
</html>
