<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../partials/header.ejs') %>
            <main class="py-5 bg-gray-50">
                <div class="px-4 mx-auto max-w-screen-xl">
                    <h2 class="mb-8 text-2xl font-bold text-gray-900">
                        Todos os AIBlogs
                    </h2>
                    <div class="grid grid-cols-4 gap-4">
                        <a
                            href='#'
                            class="text-center bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            speedy
                        </a>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
        <script type='module' src="/dist/pages/home.js"></script>
    </body>
</html>
