<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../partials/header.ejs') %>
            <main class="py-5 bg-gray-50">
                <div class="px-4 mx-auto max-w-screen-xl"></div>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
        <script type='module' src="/dist/pages/home.js"></script>
    </body>
</html>
