<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('../partials/head.ejs') %>
    <body>
        <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
            <%- include('../partials/header.ejs') %>
           <main class="bg-gray-50">
                <div class="text-center py-4 px-4 mx-auto max-w-[400px]">
                    <p id="subtitle" class="mb-3"></p>

                    <a
                        href="#"
                        id="createPostLink"
                        class="width-200 block my-3 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Criar Post
                    </a>
                    <a
                        href="#"
                        id="myPostsLink"
                        class="w-200 block my-3 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Meus Posts
                    </a>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>
        <script type='module' src="/dist/pages/my-account.js"></script>
    </body>
</html>
