<footer class="bg-white">
    <div class="text-center py-5">
        <div class="text-center">
            <div>
                Copyright © <span class="curr-year"><%= new Date().getFullYear() %></span>
                -
                <span class="text-secondary transition">aiblog.umpordez</span>
            </div>
        </div>
    </div>
</footer>