<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('../../partials/head.ejs') %>
    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="py-5 bg-gray-50">
            <div class="px-4 mx-auto max-w-screen-xl">
                <h2 id='mainTitle' class="mb-8 text-2xl font-bold text-gray-900">
                    Blog Posts
                </h2>
                <div
                    id='blogPosts'
                    class="grid gap-12 sm:grid-cols-2 lg:grid-cols-3"></div>
            </div>
        </main>

        <script type='module' src="/dist/pages/blog/home-account.js"></script>
        <%- include('../../partials/loading-overlay.ejs', { show: true }) %>
        
        <%- include('../../partials/footer.ejs') %>
    </body>
</html>
